body {
  font-family: Comic Sans MS; /* Семейство шрифтов */
  font-size: 15pt; /* Размер основного шрифта в пунктах  */
  background-color: #F0E68C; /* Цвет фона веб-страницы */
  color: black; /* Цвет основного текста */ 

}

