 .button_wrap {
    
	width:94px;
	height: 15px;
 }
 
 .shadow {
	width:89px;
	height: 19px;
	background-color: black;
	border-radius: 5px;
 }
 .button {
	text-align: center;
    width:90px;
	height: 20px;
	position: relative;
	top: -23px;
	left: -3px;
	background-color: #CCFF66;
	border-radius: 5px;
 }
 
	#wrap_but1{
		position:relative;
		top: 7px;
		float:right;
	}
 	
	#wrap_but2{
		position:relative;
		top: 7px;
		float:right;
	}
	
	
	#wrap_but3{
		position:relative;
		top: 7px;
		float:right;
	}
	
	#wrap_but4{
		position:relative;
		top: 7px;
		float:right;
	}
	
	